@{
    ViewBag.Title = "Dashboard";
}
<div class="row text-center">
    <div class="col-md-4 mb-4">
        <div class="card p-4">
            <h5>Submit Claim</h5>
            <a href="@Url.Action("SubmitClaim")" class="btn btn-apple mt-2">Go</a>
        </div>
    </div> 
    <div class="col-md-4 mb-4">
        <div class="card p-4">
            <h5>View Claims</h5>
            <a href="@Url.Action("ViewClaims")" class="btn btn-apple mt-2">Go</a>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card p-4">
            <h5>Upload Docs</h5>
            <a href="@Url.Action("UploadDocs")" class="btn btn-apple mt-2">Go</a>
        </div>
    </div>
</div>
    