@{
    ViewBag.Title = "Upload Docs";
}
<div class="card p-4">
    <h4>Upload Supporting Documents</h4>
    <form>
        <div class="mb-3">
            <label class="form-label">Select Claim</label>
            <select class="form-control">
                <option>Claim 001 - July</option>
                <option>Claim 002 - June</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Upload File</label>
            <input type="file" class="form-control" />
        </div>
        <button type="submit" class="btn-apple">Upload</button>
    </form>
</div>
